@import './variables';
@import './icons.scss';
@import './grid.scss';

/*********************
Media Query Classes
**********************/
.hide-on-small-only, .hide-on-small-and-down {
    @media #{$small-and-down} {
        display: none !important;
    }
}
.hide-on-med-and-down {
    @media #{$medium-and-down} {
        display: none !important;
    }
}
.hide-on-med-and-up {
    @media #{$medium-and-up} {
        display: none !important;
    }
}
.hide-on-med-only {
    @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
        display: none !important;
    }
}
.hide-on-large-only {
    @media #{$large-and-up} {
        display: none !important;
    }
}
.show-on-large {
    @media #{$large-and-up} {
        display: block !important;
    }
}
.show-on-medium {
    @media only screen and (min-width: $small-screen) and (max-width: $medium-screen) {
        display: block !important;
    }
}
.show-on-small {
    @media #{$small-and-down} {
        display: block !important;
    }
}
.show-on-medium-and-up {
    @media #{$medium-and-up} {
        display: block !important;
    }
}
.show-on-medium-and-down {
    @media #{$medium-and-down} {
        display: block !important;
    }
}

i.icon {
    display: inline-block;
}

@each $icon in $spritesheet-sprites {
    $icon-name: nth($icon, 10);
    .icon-#{$icon-name} {
        @include sprite($icon);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
    -webkit-overflow-scrolling: touch;
}

a, button {
    outline: none;
    text-decoration: none;
    color: #00a4ff;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    list-style: none;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    transition: all .1s linear;
    color: #fff;
}

.s-ta-l { text-align: left; }
.s-ta-r { text-align: right; }
.s-ta-c { text-align: center; }

@media #{$medium-and-up} {
    .m-ta-l { text-align: left; }
    .m-ta-r { text-align: right; }
    .m-ta-c { text-align: center; }
}

html, body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @media #{$small-and-down} {
        height: 100%;
    }

}

body {
    font-size: 0;

    .row {
        margin: 0;
        
        .col {
            padding: 0 !important;
        }
    }

    @media #{$medium-and-up} {
        // padding-top: 70px;
        font-size: 14px;

        .container-wrap {
            width: $pc-container-width;
            margin: 0 auto;
        }
    }

    @media #{$small-and-down} {
        // padding-top: 1.375rem;
        font-size: 0.2188rem;
        background-size: auto 8.4375rem;
        display: flex;
        flex-flow: column nowrap;
    }
}
