footer.main-footer {
    background-color: #1e1d2b;
    color: #b2b2b2;

    @media #{$small-and-down} {

        .links {
            padding: 0.3125rem 0 0.2344rem;

            a {
                color: #b2b2b2;
                position: relative;
                margin: 0 15px;

                &:hover {
                    color: #00a4ff;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 8px;
                    background-color: #3c414b;
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 15px);
                    transform: translateY(-50%);
                }

                &:nth-last-of-type(1):after {
                    display: none;
                }
            }
        }

        p {
            line-height: 1.8;
            border-top: 1px solid #3c414b;
            padding: .234375rem 0;
            margin: 0 .3125rem;
        }

    }

    @media #{$medium-and-up} {

        .links {
            text-align: center;
            padding: 20px 0 15px;

            a {
                color: #b2b2b2;
                position: relative;
                margin: 0 15px;

                &:hover {
                    color: #00a4ff;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 8px;
                    background-color: #3c414b;
                    position: absolute;
                    top: 50%;
                    left: calc(100% + 15px);
                    transform: translateY(-50%);
                }

                &:nth-last-of-type(1):after {
                    display: none;
                }
            }
        }

        p {
            text-align: center;
            height: 65px;
            line-height: 1.8;
            border-top: 1px solid #3c414b;
            padding-top: 10px;
        }
    }
    
}