<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Gulp 4</title>
    {% block cssbefore %}{% endblock %}
    <link rel="stylesheet" href="./css/vendors.css">
    {% block css %}{% endblock %}
    <script src="./js/vendors.js"></script>
</head>
<body>
    
    {% block svg %}{% endblock %}
    
    {% block header %}
        {% include './header.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
    
    {% block footer %}
        {% include './footer.html' %}
    {% endblock %}

    {% block dialog %}
        {% include './dialog.html' %}
    {% endblock %}
    
    <script src="./js/common.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>