
<div class="load-steam-error">
    <div class="dialog-overlay"></div>
    <div class="dialog-box">
        <a href="javascript:" class="dialog-close">
            <img class="icon" src="./assets/images/dialog-close.png"
                srcset="./assets/images/dialog-close.png 1x, ./assets/images/dialog-close@2x.png 2x, ./assets/images/dialog-close@3x.png 3x">
        </a>

        <img class="icon" src="./assets/images/dialog-error.png"
            srcset="./assets/images/dialog-error.png 1x, ./assets/images/dialog-error@2x.png 2x, ./assets/images/dialog-error@3x.png 3x">

        <div class="dialog-content">
            <p>加载steam库存错误</p>
            <p>请确认您包含选择游戏饰品，点击下面重新加载</p>
        </div>

        <div class="buttons">
            <button>
                <span>立即刷新</span>
                <img class="icon" src="./assets/images/button-s-arrow.png"
                    srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
            </button>
        </div>

    </div>
</div>
