<div class="common-dialog">
    <div class="dialog-overlay"></div>
    <div class="dialog-box">
        <a href="javascript:" class="dialog-close">
            <img class="icon" src="./assets/images/dialog-close.png"
                srcset="./assets/images/dialog-close.png 1x, ./assets/images/dialog-close@2x.png 2x, ./assets/images/dialog-close@3x.png 3x">
        </a>

        <div class="dialog-content">
            <p>标题文字</p>
            <p>正文正文正文正文正文正文正文正文正文正文正文正文</p>
        </div>

        <div class="buttons">
            <button>
                <span>确定</span>
                <img class="icon" src="./assets/images/button-s-arrow.png"
                    srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
            </button>
            <button>
                <span>取消</span>
                <img class="icon" src="./assets/images/button-s-arrow.png"
                    srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
            </button>
        </div>

    </div>
</div>