
<footer class="main-footer">
    <div class="container-wrap">
        <div class="row">
            <div class="col s12 m6">
                <div class="links">
                    <a href="javascript:">关于我们</a>
                    <a href="javascript:">隐私政策</a>
                    <a href="javascript:">使用条款</a>
                </div>
            </div>
            <div class="col s12 m6 hide-on-med-and-down">
                <div class="m-ta-r">Powered By Steam. 2004-2016</div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6" style="display:none;">
                <div class="links">
                    <a href="javascript:">玩家交流群：CSGO  554186152</a>
                    <a href="javascript:">PUBG  439476981</a>
                </div>
            </div>
            <div class="col s12 m12">
                <div class="hide-on-med-and-up">Powered By Steam. 2004-2016</div>
                <div class="m-ta-c">【网络文化经营许可证】渝网文[2015] 1973 - 022号 | 渝ICP备16006465号-2</div>
            </div>
        </div>
    </div>
</footer>