
<footer class="main-footer">
    <div class="container-wrap">
        <h3><span>合作商城</span></h3>
        
        <!-- Swiper -->
        <div class="swiper-custom-wrapper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                    <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                </div>
                <!-- Add Pagination -->
                <!-- <div class="swiper-pagination"></div> -->
            </div>
            
            <!-- Swiper nav -->
            <div class="swiper-btn-prev">
                <img class="icon" src="./assets/images/swiper-nav-left.png"
                    srcset="./assets/images/swiper-nav-left.png 1x, ./assets/images/swiper-nav-left@2x.png 2x, ./assets/images/swiper-nav-left@3x.png 3x">
            </div>
            <div class="swiper-btn-next">
                <img class="icon" src="./assets/images/swiper-nav-left.png"
                    srcset="./assets/images/swiper-nav-left.png 1x, ./assets/images/swiper-nav-left@2x.png 2x, ./assets/images/swiper-nav-left@3x.png 3x">
            </div>
        </div>

        <div class="links">
            <a href="javascript:">联系我们</a>
            <a href="javascript:">隐私政策</a>
            <a href="javascript:">使用条款</a>
        </div>

        <p>
                Powered By Steam. 2004-2016<br>
                【网络文化经营许可证】渝网文[2015] 1973 - 022号 | 渝ICP备16006465号-2
        </p>

    </div>
</footer>