
<header class="main-header">
    
    <!-- main menu -->
    <nav>
        <a href="javascript:">
            <span>常见问题</span>
            <span class="hide-on-small-only">常见问题</span>
        </a>
        <a href="javascript:">
            <span>客服服务</span>
            <span class="hide-on-small-only">客服服务</span>
        </a>
        <a href="javascript:">
            <span>饰品充值</span>
            <span class="hide-on-small-only">饰品充值</span>
        </a>
        <a href="javascript:">
            <span>交易明细</span>
            <span class="hide-on-small-only">交易明细</span>
        </a>
        <a href="javascript:" class="hide-on-med-and-up">
            <span>退出登录</span>
            <span class="hide-on-small-only">退出登录</span>
        </a>
    </nav>

    <!-- logo -->
    <a href="javascript:" class="logo">
        <img src="./assets/images/logo.png" srcset="./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x, ./assets/images/logo@3x.png 3x">
    </a>

    <!-- language -->
    <!-- <a href="javascript:" class="language">
        <img class="icon" src="./assets/images/china.png"
            srcset="./assets/images/china.png 1x, ./assets/images/china@2x.png 2x, ./assets/images/china@3x.png 3x">
        <span class="hide-on-small-only">中国</span>
    </a> -->

    <!-- user -->
    <div class="user">

        <!-- 未登录 -->
        <!-- <button class="login">
            <img class="icon hide-on-small-only" src="./assets/images/login-from-steam.png"
                srcset="./assets/images/login-from-steam.png 1x, ./assets/images/login-from-steam@2x.png 2x, ./assets/images/login-from-steam@3x.png 3x">
                
            <img class="icon hide-on-med-and-up" src="./assets/images/login-from-steam-big.png"
                srcset="./assets/images/login-from-steam-big.png 1x, ./assets/images/login-from-steam-big@2x.png 2x, ./assets/images/login-from-steam-big@3x.png 3x">
        </button> -->

        <!-- 登录后 -->
        <span class="user-head hide-on-small-only">
            <a href="http://www.google.com">
                <img src="./assets/images/user-head.png" alt="">
            </a>
        </span>
        <span class="user-head hide-on-med-and-up">
            <img src="./assets/images/user-head.png" alt="">
        </span>
        <div class="user-wrap">
            <span class="head hide-on-med-and-up">
                <a href="http://www.google.com">
                    <img src="./assets/images/user-head.png" alt="">
                </a>
            </span>
            <span class="user-name">
                <em>渣渣哇哇</em>
                <a href="JavaScript:" class="hide-on-small-only">
                    在线
                    <button>
                        <i class="icon icon-logout"></i>
                        退出
                    </button>
                </a>
            </span>
            <span class="money">69500</span>
        </div>
    </div>

    <!-- main-menu button -->
    <a href="javascript:" class="main-menu hide-on-med-and-up">
        <img src="./assets/images/main-menu.png" alt="">
    </a>

    <!-- 公告 -->
    <div class="notice">
        <img class="icon icon-notice" src="./assets/images/icon-notice.png"
            srcset="./assets/images/icon-notice.png 1x, ./assets/images/icon-notice@2x.png 2x, ./assets/images/icon-notice@3x.png 3x">
        <div>
            <span>你可以创建一个属于自己的房间，将自己igxe库存中的饰品作为礼物发放给参与你活动的用户</span>
        </div>
        <img class="icon icon-notice-close" src="./assets/images/icon-notice-close.png"
            srcset="./assets/images/icon-notice-close.png 1x, ./assets/images/icon-notice-close@2x.png 2x, ./assets/images/icon-notice-close@3x.png 3x">
        <div>
    </div>

</header>
