
<header class="pay-header">
        
    <!-- logo -->
    <a href="javascript:" class="logo">
        <img src="./assets/images/logo.png" srcset="./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x, ./assets/images/logo@3x.png 3x">
    </a>

    <ul>
        <li>
            <a href="javascript:">
                <img class="icon" src="./assets/images/customer-service.png"
                    srcset="./assets/images/customer-service.png 1x, ./assets/images/customer-service@2x.png 2x, ./assets/images/customer-service@3x.png 3x">
                <span class="hide-on-small-only">客服服务</span>
            </a>
        </li>
        <li>
            <span>Steam账户:</span>
            muweigg@gmail.com
        </li>
    </ul>

</header>
