
<header class="pay-header">
        
    <!-- logo -->
    <a href="javascript:" class="logo">
        <img src="./assets/images/logo.png" srcset="./assets/images/logo.png 1x, ./assets/images/logo@2x.png 2x, ./assets/images/logo@3x.png 3x">
    </a>

    <ul>
        <li>
            <a href="javascript:">
                <img class="icon" src="./assets/images/customer-service.png"
                    srcset="./assets/images/customer-service.png 1x, ./assets/images/customer-service@2x.png 2x, ./assets/images/customer-service@3x.png 3x">
                <span class="hide-on-small-only">客服服务</span>
            </a>
        </li>
        <li>
            <span>Steam账户:</span>
            muweigg@gmail.com
        </li>
    </ul>
    
    <!-- 公告 -->
    <div class="notice">
        <img class="icon icon-notice" src="./assets/images/icon-notice.png"
            srcset="./assets/images/icon-notice.png 1x, ./assets/images/icon-notice@2x.png 2x, ./assets/images/icon-notice@3x.png 3x">
        <div>
            <span>你可以创建一个属于自己的房间，将自己igxe库存中的饰品作为礼物发放给参与你活动的用户</span>
        </div>
        <img class="icon icon-notice-close" src="./assets/images/icon-notice-close.png"
            srcset="./assets/images/icon-notice-close.png 1x, ./assets/images/icon-notice-close@2x.png 2x, ./assets/images/icon-notice-close@3x.png 3x">
        <div>
    </div>

</header>
