<div class="phone-valid-dialog">
        <div class="dialog-overlay"></div>
        <div class="dialog-box">
            <a href="javascript:" class="dialog-close">
                <img class="icon" src="./assets/images/dialog-close.png"
                    srcset="./assets/images/dialog-close.png 1x, ./assets/images/dialog-close@2x.png 2x, ./assets/images/dialog-close@3x.png 3x">
            </a>

            <div class="dialog-title">手机验证</div>
    
            <div class="dialog-content">
                <div class="phone-valid-form">
                    <p>您的当日交易金额已超过500！<br>请完成验证以提高您的每日交易金额！</p>
                    <div>
                        <label for="">手　机：</label><input type="text">
                        <div class="errors">
                            <div class="error">
                                <img class="icon" src="./assets/images/icon-valid-error.png"
                                    srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                请输入正确的手机号码
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="">验证码：</label><input type="text"> <a href="javascript:">获取验证码</a>
                        <div class="errors">
                            <div class="error">
                                <img class="icon" src="./assets/images/icon-valid-error.png"
                                    srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                验证码失效，请重新获取
                            </div>
                            <div class="error">
                                <img class="icon" src="./assets/images/icon-valid-error.png"
                                    srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                无效验证码
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="buttons">
                <button>
                    <span>确定</span>
                    <img class="icon" src="./assets/images/button-s-arrow.png"
                        srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
                </button>
                <button>
                    <span>取消</span>
                    <img class="icon" src="./assets/images/button-s-arrow.png"
                        srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
                </button>
            </div>
    
        </div>
    </div>