{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/about-us.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <main class="about-us">
        <div class="container-wrap">
            <div class="row skin-caption">
                <div class="col s12 align-left">
                    <img class="icon" src="./assets/images/icon-gps.png"
                        srcset="./assets/images/icon-gps.png 1x, ./assets/images/icon-gps@2x.png 2x, ./assets/images/icon-gps@3x.png 3x">
                    关于我们
                </div>
            </div>
            <div class="about-us-wrap">
                <section>
                    <header><strong>关于iGB</strong></header>
                    <div>
                        欢迎使用iGB饰品支付。iGB是新三板上市企业重庆软岛科技股份有限公司旗下品牌，软岛科技始于2004年，发展至今，十年有余，深耕互联网网行业，全球用户已超百万。iGB是一个专业的游戏装备支付体系，让玩家可以将自己的游戏装备作为交易货币使用。我们旨在为广大玩家快速链接游戏装备及游戏周边产品、赛事、直播等，确保您的交易安全，完善您的游戏体验。
                    </div>
                </section>
                <section>
                    <header><strong>联系信息</strong></header>
                    <div>
                        <p>公司电话：023-88105559</p>
                        <p>公司地址：重庆市渝中区瑞天路156号重庆天地B栋4楼</p>
                        <p>商务合作：<a href="javascript:">bd@igbill.com</a></p>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}

