{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/business-cooperation.css">
{% endblock %}

{% block scripts %}
    <script src="./js/business-cooperation.js"></script>
{% endblock %}

{% block content %}
    <main class="business-cooperation">
        <div class="cooperation">
            <div class="content">
                <div class="left hide-on-med-and-down">
                    <img src="./assets/images/business-cooperation/1.png" alt="">
                </div>
                <div class="right">
                    <h3>合作共赢</h3>
                    <sub class="c2">COOPERATION</sub>
                    <p>
                        iGB是新三板上市企业重庆软岛科技股份有限公司（股票代码: 836617）旗下品牌。<br>
                        经过多年发展，软岛科技业务已经成功覆盖亚洲、北美、拉丁美洲、欧洲以及中东超过<span class="c1">400万用户</span>，平台交易用户达到<span class="c1">260多万</span>。核心业务是“数字娱乐产品电子商务增值服务平台”。专注全球化数字娱乐电商服务平台系统化运营，目标为助力中国数字娱乐产业服务商向多文化、多地域国际化发展，2016年营收<span class="c1">3.54亿元</span>。
                    </p>
                    <div class="count row">
                        <div class="g col s4">
                            <span id="g">36</span><br>
                            业务覆盖国家
                        </div>
                        <div class="u col s8">
                            <span id="u">4,000,000</span><em>+</em><br>
                            用户数量
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="what-is-igb">
            <h3>什么是IGB？</h3>
            <sub>WHAT IS IGB?</sub>

            <div class="row">
                <div class="col s12 m3" style="padding: 0 30px !important;">
                    <img class="icon" src="./assets/images/business-cooperation/2-1.png"
                        srcset="./assets/images/business-cooperation/2-1.png 1x, ./assets/images/business-cooperation/2-1@2x.png 2x, ./assets/images/business-cooperation/2-1@3x.png 3x">
                    <h4>IGB的用户是谁？</h4>
                    <p>希望快速将游戏装备置换成其它物品或服务的游戏玩家</p>
                </div>
                <div class="col s12 m3">
                    <img class="icon" src="./assets/images/business-cooperation/2-2.png"
                        srcset="./assets/images/business-cooperation/2-2.png 1x, ./assets/images/business-cooperation/2-2@2x.png 2x, ./assets/images/business-cooperation/2-2@3x.png 3x">
                    <h4>IGB提供什么样的产品和服务？</h4>
                    <p>基于游戏装备的专业支付体系</p>
                </div>
                <div class="col s12 m3">
                    <img class="icon" src="./assets/images/business-cooperation/2-3.png"
                        srcset="./assets/images/business-cooperation/2-3.png 1x, ./assets/images/business-cooperation/2-3@2x.png 2x, ./assets/images/business-cooperation/2-3@3x.png 3x">
                    <h4>iGB满足了哪方面的需求?</h4>
                    <p>无需再花真金白银，游戏装备当钱用</p>
                </div>
                <div class="col s12 m3">
                    <img class="icon" src="./assets/images/business-cooperation/2-4.png"
                        srcset="./assets/images/business-cooperation/2-4.png 1x, ./assets/images/business-cooperation/2-4@2x.png 2x, ./assets/images/business-cooperation/2-4@3x.png 3x">
                    <h4>iGB的合作伙伴是谁?</h4>
                    <p>游戏装备交易网站，游戏加速器，直播平台，外设周边等游戏行业公司</p>
                </div>
            </div>
        </div>

        <div class="market-analysis">
            <div class="content">
                <div class="left">
                    <img class="icon" src="./assets/images/business-cooperation/3-1.png"
                        srcset="./assets/images/business-cooperation/3-1.png 1x, ./assets/images/business-cooperation/3-1@2x.png 2x, ./assets/images/business-cooperation/3-1@3x.png 3x">
                    <span>游戏玩家</span>
                </div>
                <div class="right">
                    <h3>市场分析</h3>
                    <sub class="c2">MARKET ANALYSIS</sub>
                    <img class="icon" src="./assets/images/business-cooperation/3-2.png"
                        srcset="./assets/images/business-cooperation/3-2.png 1x, ./assets/images/business-cooperation/3-2@2x.png 2x, ./assets/images/business-cooperation/3-2@3x.png 3x">
                    <p>
                        仅有<span class="c1">6%</span>的游戏玩家尝试过游戏装备交易，现有游戏装备交易模式过于复杂，未被激活装备交易的玩家数量庞大，玩家的账户内有<span class="c1">大量闲置的装备未被有效利用。</span>
                    </p>
                    <ul>
                        <li>2017年STEAM中国玩家数量增长至三千万，活跃用户（两周）近两千万。</li>
                        <li>STEAM中国玩家人均拥有游戏11款，属于消费能力较强的玩家群体。</li>
                        <li>软岛科技在游戏装备交易领域深耕多年，拥有超过三百万以上的用户。</li>
                        <li>闲置装备一键再利用可以触发玩家更多消费行为。</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="the-benefits-of-igb">
            <h3>商户为什么要接入iGB？</h3>
            <sub class="c2">The benefits of iGB?</sub>
            <div class="content">
                <div class="left">
                    <div class="l1">
                        <h4 class="b">业务创新</h4>
                        <p>支付方式的创新是与竞争对手差异化竞争一个重要手段</p>
                    </div>
                    <div class="l2">
                        <h4 class="g">安全省心</h4>
                        <p>上市企业，注册资本上亿，无需担心资金安全，随时提现</p>
                    </div>
                </div>
                <div class="right">
                    <div class="r1">
                        <h4 class="b">新增用户/收入</h4>
                        <p>支持iGB，可以帮劣商户增加一个创新性的收入渠道，获取到众多的新增用户，提升交易额。</p>
                    </div>
                    <div class="r2">
                        <h4 class="g">品牌提升</h4>
                        <p>iGB是上市企业旗下品牌，建立长远合作关系，提升企业品牌价值</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="philosophy-of-cooperation">
            <h3>iGB合作理念</h3>
            <sub class="c2">philosophy of cooperation</sub>
            <div class="t">
                <p>
                    <img src="./assets/images/business-cooperation/qoutes-left.png" alt="">
                    作为一家独立，专业的支付公司，客户的业务增长是iGB与客户共赢的重要条件。
                    <img src="./assets/images/business-cooperation/qoutes-right.png" alt="">
                </p>
                <p>iGB希望与泛游戏领域内的公司建立长期的合作关系，为推劢游戏行业的发展贡献一份力量。</p>
            </div>
            <div class="b">
                <div class="block">
                    <div>
                        <h4>合作条件</h4>
                        <p>• 泛游戏领域业务。</p>
                        <p>• 目标用户有大量游戏玩家。</p>
                        <p>• 经营业务符合国家法律法规。</p> 
                        <p>• 对创新型业务充满兴趣。</p>
                    </div>
                </div>
                <div class="block">
                    <div>
                        <h4>结算</h4>
                        <p>• 最快T+0到账。</p>
                    </div>
                </div>
                <div class="block">
                    <div>
                        <h4>结算</h4>
                        <p>• 提供公司资料→合同签订→产品对接</p>
                    </div>
                </div>
                <div class="block end">
                    <div>
                        <h4>上线成功</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact">
            <h3>联系方式</h3>
            <sub class="c2">contact</sub>
            <div class="content">
                <div class="row">
                    <div class="col s12 m6">
                        <textarea name="" id="" cols="1" rows="1"></textarea>
                        <div class="error">
                            <img class="icon" src="./assets/images/icon-valid-error.png"
                                srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                            无效选择
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <input type="text" placeholder="公司名称">
                        <div class="error">
                            <img class="icon" src="./assets/images/icon-valid-error.png"
                                srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                            无效选择
                        </div>
                        <input type="text" placeholder="公司网址">
                        <div class="error">
                            <img class="icon" src="./assets/images/icon-valid-error.png"
                                srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                            无效选择
                        </div>
                        <input type="text" placeholder="联系人">
                        <div class="error">
                            <img class="icon" src="./assets/images/icon-valid-error.png"
                                srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                            无效选择
                        </div>
                        <div class="phone">
                            <input type="text" placeholder="联系电话">
                            <button>
                                <span>提交信息</span>
                                <img class="icon" src="./assets/images/button-arrow.png"
                                    srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
                            </button>
                            <div class="error">
                                <img class="icon" src="./assets/images/icon-valid-error.png"
                                    srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                无效选择
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>
{% endblock %}

