{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/contact-us.css">
{% endblock %}

{% block scripts %}
    <script src="./js/contact-us.js"></script>
{% endblock %}

{% block content %}
    <main class="contact-us">
        <div class="container-wrap">
            <div class="tabs">
                <a href="javascript:" class="active">联系我们</a>
                <a href="javascript:">网站公告</a>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="contact-us-wrap">
                    <header>
                        <div>工作时间：法定工作日 <span class="c3">9:00-12:00, 13:00-18:00；</span>非工作时间请QQ留言或发送邮件，我们将尽快回复您的问题。</div>
                    </header>
                    <div class="contact-service">
                        <div class="row">
                            <div class="col s12 l6">
                                <div class="quote">
                                    <img src="./assets/images/quote.png" srcset="./assets/images/quote.png 1x, ./assets/images/quote@2x.png 2x, ./assets/images/quote@3x.png 3x">
                                    亲爱的用户，在此留下您对iGB饰品支付平台的建议与期望，<br>
                                    iGB团队将竭尽全力给您提供更优质的服务与更完善的用户体验。
                                </div>
                                <table>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/phone.png"
                                                srcset="./assets/images/phone.png 1x, ./assets/images/phone@2x.png 2x, ./assets/images/phone@3x.png 3x">
                                        </td>
                                        <td>客服电话：023-88105559-8065</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/email.png"
                                                srcset="./assets/images/email.png 1x, ./assets/images/email@2x.png 2x, ./assets/images/email@3x.png 3x">
                                        </td>
                                        <td>
                                            客服邮箱：<a href="mailto:cs@igbill.com">cs@igbill.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>
                                            在线QQ：<a href="javascrip:" class="btn">2851820634</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>iGB PUBG官方1群：439476981</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>iGB CSGO官方1群：554186152</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col s12 l6">
    
                                <select name="" id="">
                                    <option value="">请选择您的意见分类</option>
                                </select>
    
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效选择
                                    </div>
                                </div>
    
                                <input type="text" placeholder="留下您的QQ/邮箱，便于我们回复您">
                                
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效输入
                                    </div>
                                </div>
    
                                <textarea name="" id="" cols="1" rows="1" placeholder="请输入反馈内容"></textarea>
                                
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效输入
                                    </div>
                                </div>
    
                                <button>
                                    <span>发送反馈</span>
                                    <img class="icon" src="./assets/images/button-arrow.png"
                                        srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="notice-wrap">
                    <section class="active">
                        <header><span></span><em>2017.12.12</em><strong>12月22日免费英雄更换公告</strong></header>
                        <div>
                            <h2 style="text-align: center;">12月22日免费英雄更换公告</h2>
                            我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。
                        </div>
                    </section>
                    
                    <div class="row load-more s-ta-c hide-on-med-and-up">
                        <span>加载更多</span>
                    </div>
                    
                    <div class="list-paging hide-on-small-only">
                        <div class="row">
                            <div class="col s12 s-ta-r">
                                <a href="javascript:" class="prev">&nbsp;</a>
                                <a href="javascript:">1</a>
                                <a href="javascript:">2</a>
                                <a href="javascript:">3</a>
                                <span>…</span>
                                <a href="javascript:">99</a>
                                <a href="javascript:" class="next">&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

