{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/contact-us.css">
{% endblock %}

{% block scripts %}
    <script src="./js/contact-us.js"></script>
{% endblock %}

{% block content %}
    <main class="contact-us">
        <div class="container-wrap">
            <div class="tabs">
                <a href="javascript:" class="active">联系我们</a>
                <a href="javascript:">网站公告</a>
                <a href="javascript:">常见问题</a>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="contact-us-wrap">
                    <header>
                        <div>工作时间：法定工作日 <span class="c3">9:00-12:00, 13:00-18:00；</span>非工作时间请QQ留言或发送邮件，我们将尽快回复您的问题。</div>
                    </header>
                    <div class="contact-service">
                        <div class="row">
                            <div class="col s12 l6">
                                <div class="quote">
                                    <img src="./assets/images/quote.png" srcset="./assets/images/quote.png 1x, ./assets/images/quote@2x.png 2x, ./assets/images/quote@3x.png 3x">
                                    亲爱的用户，在此留下您对iGB饰品支付平台的建议与期望，<br>
                                    iGB团队将竭尽全力给您提供更优质的服务与更完善的用户体验。
                                </div>
                                <table>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/phone.png"
                                                srcset="./assets/images/phone.png 1x, ./assets/images/phone@2x.png 2x, ./assets/images/phone@3x.png 3x">
                                        </td>
                                        <td>客服电话：023-88105559-8065</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/email.png"
                                                srcset="./assets/images/email.png 1x, ./assets/images/email@2x.png 2x, ./assets/images/email@3x.png 3x">
                                        </td>
                                        <td>
                                            客服邮箱：<a href="mailto:cs@igbill.com">cs@igbill.com</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>
                                            在线QQ：<a href="javascrip:" class="btn">2851820634</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>iGB PUBG官方1群：439476981</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="icon" src="./assets/images/qq.png"
                                                srcset="./assets/images/qq.png 1x, ./assets/images/qq@2x.png 2x, ./assets/images/qq@3x.png 3x">
                                        </td>
                                        <td>iGB CSGO官方1群：554186152</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col s12 l6">
    
                                <select name="" id="">
                                    <option value="">请选择您的意见分类</option>
                                </select>
    
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效选择
                                    </div>
                                </div>
    
                                <input type="text" placeholder="留下您的QQ/邮箱，便于我们回复您">
                                
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效输入
                                    </div>
                                </div>
    
                                <textarea name="" id="" cols="1" rows="1" placeholder="请输入反馈内容"></textarea>
                                
                                <div class="errors">
                                    <div class="error">
                                        <img class="icon" src="./assets/images/icon-valid-error.png"
                                            srcset="./assets/images/icon-valid-error.png 1x, ./assets/images/icon-valid-error@2x.png 2x, ./assets/images/icon-valid-error@3x.png 3x">
                                        无效输入
                                    </div>
                                </div>
    
                                <button>
                                    <span>发送反馈</span>
                                    <img class="icon" src="./assets/images/button-arrow.png"
                                        srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="notice-wrap">
                    <section class="active">
                        <header><span></span><em>2017.12.12</em><strong>12月22日免费英雄更换公告</strong></header>
                        <div>
                            <h2 style="text-align: center;">12月22日免费英雄更换公告</h2>
                            我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。网易在线游戏自主研发运营多款在线游戏,包括我和你一样,我们都是游戏热爱者。
                        </div>
                    </section>
                    
                    <div class="row load-more s-ta-c hide-on-med-and-up">
                        <span>加载更多</span>
                    </div>
                    
                    <div class="list-paging hide-on-small-only">
                        <div class="row">
                            <div class="col s12 s-ta-r">
                                <a href="javascript:" class="prev">&nbsp;</a>
                                <a href="javascript:">1</a>
                                <a href="javascript:">2</a>
                                <a href="javascript:">3</a>
                                <span>…</span>
                                <a href="javascript:">99</a>
                                <a href="javascript:" class="next">&nbsp;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" style="display: none;">
                <div class="faq-wrap">
                    <section class="active">
                        <header><span></span><strong>关于iGB</strong></header>
                        <div>
                            欢迎使用iGB饰品支付。iGB是新三板上市企业重庆软岛科技股份有限公司旗下品牌，软岛科技始于2004年，发展至今，十年有余，深耕互联网网行业，全球用户已超百万。iGB是一个专业的游戏装备支付体系，让玩家可以将自己的游戏装备作为交易货币使用。我们旨在为广大玩家快速链接游戏装备及游戏周边产品、赛事、直播等，确保您的交易安全，完善您的游戏体验。
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>如何使用iGB？</strong></header>
                        <div>
                            <dl><dt>1、</dt><dd>选择您要充值的皮肤。</dd></dl>
                            <dl><dt>2、</dt><dd>订单完成后您将获得iGB余额。</dd></dl>
                            <dl><dt>3、</dt><dd>iGB余额可用于IGXE.CN钱包充值以及其它合作网站的产品购买。</dd></dl>
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>您可以使用哪些皮肤进行充值?</strong></header>
                        <div>
                            <p>我们接受大部分价格超过0.3元的皮肤，不能接受部分在外部交易市场无人问津的皮肤。</p>
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>哪些情况会造成您无法交易？</strong></header>
                        <div>
                            <dl><dt>1、</dt><dd>Steam令牌未启用。</dd></dl>
                            <dl><dt>2、</dt><dd>最近重置过Steam帐号密码或者改绑新的邮箱。</dd></dl>
                            <dl><dt>3、</dt><dd>Steam帐号个人资料状态以及库存未设置为公开。</dd></dl>
                            <dl><dt>4、</dt><dd>交易URL填写错误。</dd></dl>
                            <dl><dt>5、</dt><dd>Steam帐号被VAC封禁或交易饰品的游戏被封禁。</dd></dl>
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>如何获取您的交易URL？</strong></header>
                        <div>
                            <dl><dt>1、</dt><dd>通过Steam登录www.igbill.com</dd></dl>
                            <img src="./assets/images/faq/1.png" alt="">
                            <dl><dt>2、</dt><dd>点击首页“饰品充值”</dd></dl>
                            <dl><dt>3、</dt><dd>点击“交易链接”进入以下Steam个人页面，复制交易Url</dd></dl>
                            <img src="./assets/images/faq/2.png" alt="">
                            <dl><dt>4、</dt><dd>粘贴URL至iGB网站交易链接处</dd></dl>
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>如何设置您的Steam账户个人资料状态为“公开”</strong></header>
                        <div>
                            <p>首页“饰品充值”-“公开” </p>
                            <img src="./assets/images/faq/3.png" alt="">
                            <img src="./assets/images/faq/4.png" alt="">
                            <p>任何其他问题或发现网站Bug，请联系在线客服 <span class="c2">QQ 2851820634</span>，或发送邮件至官方客服邮箱 <a href="javascript:">bd@igbill.com</a>。</p>
                        </div>
                    </section>
                    <section>
                        <header><span></span><strong>iGB饰品充值余额如何处理？</strong></header>
                        <div>
                            <p>iGB致力于打造游戏支付平台，为玩家链接游戏周边商品，饰品充值余额可用于充值IGXE钱包余额，换购Steam游戏CDKEY、加速器、直播网站余额等。合作商家将持续完善，为iGB用户提供更加高质量的服务。</p>
                            <img src="./assets/images/faq/5.png" alt="">
                            <p>IGXE余额充值流程如下：</p>
                            <dl><dt>1、</dt><dd>iGB饰品充值成功后，网站右上角会显示余额。</dd></dl>
                            <img src="./assets/images/faq/6.png" alt="">
                            <dl><dt>2、</dt><dd>余额目前不支持提现，可用于IGXE钱包充值购买IGXE市场上面的所有物品，打开IGXE网站，“我的钱包”-“充值”。</dd></dl>
                            <img src="./assets/images/faq/7.png" alt="">
                            <dl><dt>3、</dt><dd>选择“iGB饰品支付”。</dd></dl>
                            <img src="./assets/images/faq/8.png" alt="">
                        </div>
                    </section>
                    <!-- <section>
                        <header><span></span><strong>充值限额问题？</strong></header>
                        <div>
                            <p>iGB有完整的风控体系，如超过限额，在“饰品充值”-“立即支付”会出现以下提示，请联系客服人员进行相关的账户情况处理。</p>
                            <img src="./assets/images/faq/9.png" alt="">
                        </div>
                    </section> -->
                    <section>
                        <header><span></span><strong>无法显示库存？</strong></header>
                        <div>
                            <dl><dt>1、</dt><dd>iGB 系统当前支持PUBG, CSGO, Dota 2，H1Z1 KOTK 。如充值其他STEAM游戏饰品，库存会显示空白。</dd></dl>
                            <dl><dt>2、</dt><dd>如您的库存已设置为公开，依然无法显示您的完整库存，可能是由于您的部分库存为iGB系统当前暂不接收的饰品。</dd></dl>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

