{% extends './common/base.html' %}

{% block svg %}
    {% include './common/svg.html' %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="./css/index.css">
{% endblock %}

{% block scripts %}
    <script src="./js/index.js"></script>
{% endblock %}

{% block content %}
    <main class="index">

        <header>
            <img class="icon" src="./assets/images/text.png"
                srcset="./assets/images/text.png 1x, ./assets/images/text@2x.png 2x, ./assets/images/text@3x.png 3x">

            <button>
                <span>开始兑换</span>
                <img class="icon" src="./assets/images/button-arrow.png"
                    srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
            </button>

            <div class="games">
                <span>
                    <svg class="svg-icon">
                        <use xlink:href="#icon-csgo"></use>
                    </svg>
                    CSGO
                </span>
                <span>
                    <svg class="svg-icon">
                        <use xlink:href="#icon-dota2"></use>
                    </svg>
                    DOTA2
                </span>
                <span>
                    <svg class="svg-icon">
                        <use xlink:href="#icon-h1z1"></use>
                    </svg>
                    H!Z1
                </span>
                <span>
                    <svg class="svg-icon">
                        <use xlink:href="#icon-pubg"></use>
                    </svg>
                    PUBG
                </span>
            </div>
        </header>

        <!-- 轮播 -->
        <div class="carousel">
            <div class="container-wrap">
                <div class="count hide-on-small-only">
                    饰品兑换数量：<em>23232323</em>
                </div>
                <div class="users">
                    <!-- 用户滚动 -->
                    <div class="users-wrap">
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>1111</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>2222</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>3333</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>4444</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                    </div>

                    <!-- 克隆一份 -->
                    <div class="users-wrap">
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>1111</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>2222</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>3333</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                        <div class="user">
                            渣渣哇哇 兑换：
                            <em><sup>￥</sup>4444</em>
                            <span>
                                <img class="icon" src="./assets/images/clock-s.png"
                                    srcset="./assets/images/clock-s.png 1x, ./assets/images/clock-s@2x.png 2x, ./assets/images/clock-s@3x.png 3x">
                                23分钟
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buy -->
        <div class="process">
            <hr>
            <div class="container-wrap">
                <h3><span>其实您的Steam饰品可以用来购买</span></h3>
                <div>
                    <span class="block">
                            <img class="icon" src="./assets/images/buy-wallet.png"
                                srcset="./assets/images/buy-wallet.png 1x, ./assets/images/buy-wallet@2x.png 2x, ./assets/images/buy-wallet@3x.png 3x">
                            <em>IGXE钱包余额</em>
                        </span>
                        <span class="block">
                            <img class="icon" src="./assets/images/buy-steam-cdkey.png"
                                srcset="./assets/images/buy-steam-cdkey.png 1x, ./assets/images/buy-steam-cdkey@2x.png 2x, ./assets/images/buy-steam-cdkey@3x.png 3x">
                            <em>Steam游戏CDKEY</em>
                        </span>
                        <span class="block">
                            <img class="icon" src="./assets/images/buy-booster.png"
                                srcset="./assets/images/buy-booster.png 1x, ./assets/images/buy-booster@2x.png 2x, ./assets/images/buy-booster@3x.png 3x">
                            <em>加速器会员</em>
                        </span>
                        
                        <span class="block">
                            <img class="icon" src="./assets/images/buy-live.png"
                                srcset="./assets/images/buy-live.png 1x, ./assets/images/buy-live@2x.png 2x, ./assets/images/buy-live@3x.png 3x">
                            <em>直播网站余额</em>
                        </span>
                        <span class="block">
                            <img class="icon" src="./assets/images/buy-more.png"
                                srcset="./assets/images/buy-more.png 1x, ./assets/images/buy-more@2x.png 2x, ./assets/images/buy-more@3x.png 3x">
                            <em>更多</em>
                        </span>
                        <!-- <span class="block">
                            <img class="icon" src="./assets/images/consumption-balance.png"
                                srcset="./assets/images/consumption-balance.png 1x, ./assets/images/consumption-balance@2x.png 2x, ./assets/images/consumption-balance@3x.png 3x">
                            <em>【消费余额】</em>
                        </span> -->
                </div>
            </div>
        </div>

        <!-- 合作商城 -->
        <div class="cooperation">
            <div class="container-wrap">
                <h3><span>合作商城</span></h3>
                
                <!-- Swiper -->
                <div class="swiper-custom-wrapper">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-csgo-bg.png"
                                    srcset="./assets/images/cmall-csgo-bg.png 1x, ./assets/images/cmall-csgo-bg@2x.png 2x, ./assets/images/cmall-csgo-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-csgo-icon.png"
                                        srcset="./assets/images/cmall-csgo-icon.png 1x, ./assets/images/cmall-csgo-icon@2x.png 2x, ./assets/images/cmall-csgo-icon@3x.png 3x">
                                    <span>CSGO饰品</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-pubg-bg.png"
                                    srcset="./assets/images/cmall-pubg-bg.png 1x, ./assets/images/cmall-pubg-bg@2x.png 2x, ./assets/images/cmall-pubg-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-pubg-icon.png"
                                        srcset="./assets/images/cmall-pubg-icon.png 1x, ./assets/images/cmall-pubg-icon@2x.png 2x, ./assets/images/cmall-pubg-icon@3x.png 3x">
                                    <span>PUBG饰品</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-cdkey-bg.png"
                                    srcset="./assets/images/cmall-cdkey-bg.png 1x, ./assets/images/cmall-cdkey-bg@2x.png 2x, ./assets/images/cmall-cdkey-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-cdkey-icon.png"
                                        srcset="./assets/images/cmall-cdkey-icon.png 1x, ./assets/images/cmall-cdkey-icon@2x.png 2x, ./assets/images/cmall-cdkey-icon@3x.png 3x">
                                    <span>CDKEY</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-play-bg.png"
                                    srcset="./assets/images/cmall-play-bg.png 1x, ./assets/images/cmall-play-bg@2x.png 2x, ./assets/images/cmall-play-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-play-icon.png"
                                        srcset="./assets/images/cmall-play-icon.png 1x, ./assets/images/cmall-play-icon@2x.png 2x, ./assets/images/cmall-play-icon@3x.png 3x">
                                    <span>陪玩陪练</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-booster-bg.png"
                                    srcset="./assets/images/cmall-booster-bg.png 1x, ./assets/images/cmall-booster-bg@2x.png 2x, ./assets/images/cmall-booster-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-booster-icon.png"
                                        srcset="./assets/images/cmall-booster-icon.png 1x, ./assets/images/cmall-booster-icon@2x.png 2x, ./assets/images/cmall-booster-icon@3x.png 3x">
                                    <span>加速器</span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <img class="icon" src="./assets/images/cmall-video-bg.png"
                                    srcset="./assets/images/cmall-video-bg.png 1x, ./assets/images/cmall-video-bg@2x.png 2x, ./assets/images/cmall-video-bg@3x.png 3x">
                                <div class="overlay"></div>
                                <div class="title">
                                    <img class="icon" src="./assets/images/cmall-video-icon.png"
                                        srcset="./assets/images/cmall-video-icon.png 1x, ./assets/images/cmall-video-icon@2x.png 2x, ./assets/images/cmall-video-icon@3x.png 3x">
                                    <span>视频平台充值</span>
                                </div>
                            </div>
                            <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                            <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                            <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                            <div class="swiper-slide"><img src="./assets/images/igxe.png" alt=""></div>
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                    
                    <!-- Swiper nav -->
                    <div class="swiper-btn-prev">
                        <img class="icon" src="./assets/images/swiper-nav-left.png"
                            srcset="./assets/images/swiper-nav-left.png 1x, ./assets/images/swiper-nav-left@2x.png 2x, ./assets/images/swiper-nav-left@3x.png 3x">
                    </div>
                    <div class="swiper-btn-next">
                        <img class="icon" src="./assets/images/swiper-nav-left.png"
                            srcset="./assets/images/swiper-nav-left.png 1x, ./assets/images/swiper-nav-left@2x.png 2x, ./assets/images/swiper-nav-left@3x.png 3x">
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

