{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/payment.css">
{% endblock %}

{% block scripts %}
    <script src="./js/payment.js"></script>
{% endblock %}

{% block header %}
    {% include './common/pay-header.html' %}
{% endblock %}

{% block content %}
    <main class="payment">

        <div class="container-wrap">
            <div class="count-down">订单将在<em>4分钟</em>后关闭</div>
            <header class="row">
                <div class="col s12 m3"><span>订单信息：XXXXXXXXXX</span></div>
                <div class="col s12 m3"><span>流水编号：XXXXXXXXXX</span></div>
                <div class="col s12 m3"><span>商户名称：XXXXXXXXXX</span></div>
                <div class="col s12 m3 m-ta-r"><span>支付金额：<sup>￥</sup><em>2323</em></span></div>
            </header>
            <div class="content-wrap">

                <!-- 登录前 -->
                <div class="login-igb">
                    <p>用<span>STEAM</span>账户登入<span>iGB</span>，完成支付</p>
                    <a href="javascript:">
                        <img class="icon" src="./assets/images/login-from-steam-big.png"
                            srcset="./assets/images/login-from-steam-big.png 1x, ./assets/images/login-from-steam-big@2x.png 2x, ./assets/images/login-from-steam-big@3x.png 3x">
                    </a>
                </div>

                <!-- 登录后 -->
                <div class="confirm-pay" style="display: none;">
                    <p>您账户余额：<span><sup>￥</sup><em>2323</em></span></p>
                    <button>
                        <span>确认支付</span>
                        <img class="icon" src="./assets/images/button-arrow.png"
                            srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
                    </button>
                </div>

                <!-- 选择饰品 -->
                <div class="chose-skins" style="display: none;">
                    <div class="balance">
                        <span>您的账户余额：<em class="c1">35</em></span>
                        <span>支付饰品金额：<em class="c2">35</em></span>
                        <span class="c3">【仅需饰品抵扣xx元，支付完成，剩余20元将存入您的余额】</span>
                        <button>
                            <span>立即支付</span>
                            <img class="icon" src="./assets/images/button-arrow.png"
                                srcset="./assets/images/button-arrow.png 1x, ./assets/images/button-arrow@2x.png 2x, ./assets/images/button-arrow@3x.png 3x">
                        </button>
                    </div>

                    <div class="trade-url">
                        交易前，确认您的Steam隐私已经设置为<a class="c1" href="javascript:">公开</a>，并填入<a class="c1" href="javascript:">交易链接</a>：<span class="c4 hide-on-small-and-down">(点击链接前往设置)</span>
                        <!-- 未输入: no-input -->
                        <!-- 输入中: input -->
                        <!-- 完成: success -->
                        <span class="no-input">
                            <input type="text" placeholder="请填写Steam交易链接(Trade Url)">
                            <a href="javascript:">保存</a>
                            <img class="icon" src="./assets/images/trade-url-success.png"
                                srcset="./assets/images/trade-url-success.png 1x, ./assets/images/trade-url-success@2x.png 2x, ./assets/images/trade-url-success@3x.png 3x">
                        </span>
                    </div>

                    <!-- 皮肤选择 -->
                    <div class="skins">
                        <div class="filter-games">
                            <div class="checkboxs">
                                <label>
                                    <input type="checkbox">
                                    <span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        CSGO
                                    </span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        DOTA 2
                                    </span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        H1Z1:KotK
                                    </span>
                                </label>
                                <label>
                                    <input type="checkbox">
                                    <span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        H1Z1:JS
                                    </span>
                                </label>
                            </div>
                            <div class="search-bar">
                                <input type="text">
                                <i>
                                    <img class="icon" src="./assets/images/search.png"
                                        srcset="./assets/images/search.png 1x, ./assets/images/search@2x.png 2x, ./assets/images/search@3x.png 3x">
                                </i>
                            </div>
                        </div>

                        <div class="all-and-sort">
                            <label>
                                <input type="checkbox">
                                <span>
                                    <i class="checkbox">
                                        <img class="icon" src="./assets/images/checked.png"
                                            srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                    </i>
                                    全选
                                </span>
                            </label>
                            <span class="refresh">
                                <img class="icon" src="./assets/images/refresh.png"
                                    srcset="./assets/images/refresh.png 1x, ./assets/images/refresh@2x.png 2x, ./assets/images/refresh@3x.png 3x">
                                刷新库存
                            </span>
                            <span class="sort">
                                价格排序
                                <img class="icon" src="./assets/images/sort.png"
                                    srcset="./assets/images/sort.png 1x, ./assets/images/sort@2x.png 2x, ./assets/images/sort@3x.png 3x">
                            </span>
                        </div>

                        <div class="chose-skin">
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                            <div class="skin">
                                <label>
                                    <input type="checkbox">
                                    <div style="border-bottom-color: #00a4ff;">
                                        <span class="price">4444</span>
                                        <i class="checkbox">
                                            <img class="icon" src="./assets/images/checked.png"
                                                srcset="./assets/images/checked.png 1x, ./assets/images/checked@2x.png 2x, ./assets/images/checked@3x.png 3x">
                                        </i>
                                        <img src="./assets/images/gun.png" alt="">
                                        <span class="name">M9 Bayonet</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- 报价等待 -->
                    <div class="waiting" style="display: none;">
                        <div>
                            我们已经向您steam账号发送报价，验证码<span class="c1">xxxxxx</span>
                            <br>
                            您可以使用你的Steam令牌进行交易确认，或<a href="javascript:">点击到steam接受报价</a>
                        </div>
                    </div>
                    
                    <!-- loading -->
                    <div class="loading" style="display: none;">
                        <img class="icon" src="./assets/images/loading.gif" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- 支付结果 -->
        <div class="pay-results" style="display: none;">

            <!-- 支付成功 -->
            <img class="icon" src="./assets/images/pay-success.png"
                srcset="./assets/images/pay-success.png 1x, ./assets/images/pay-success@2x.png 2x, ./assets/images/pay-success@3x.png 3x">

            <!-- 支付失败 -->
            <!-- <img class="icon" src="./assets/images/pay-fail.png"
                srcset="./assets/images/pay-fail.png 1x, ./assets/images/pay-fail@2x.png 2x, ./assets/images/pay-fail@3x.png 3x"> -->

            <!-- 支付超时 -->
            <!-- <img class="icon" src="./assets/images/pay-timeout.png"
                srcset="./assets/images/pay-timeout.png 1x, ./assets/images/pay-timeout@2x.png 2x, ./assets/images/pay-timeout@3x.png 3x"> -->

            <p>
                <strong>支付成功！</strong><span>等待跳转...</span>
                <br>
                你也可以 <a href="javascript:">"点击这里"</a> 立即跳转回 XXXXXX 。
            </p>
        </div>
    </main>
{% endblock %}

