{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/privacy-policy.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <main class="privacy-policy">
        <div class="container-wrap">
            <div class="row skin-caption">
                <div class="col s12 align-left">
                    <img class="icon" src="./assets/images/icon-gps.png"
                        srcset="./assets/images/icon-gps.png 1x, ./assets/images/icon-gps@2x.png 2x, ./assets/images/icon-gps@3x.png 3x">
                    隐私政策
                </div>
            </div>
            <div class="privacy-policy-wrap">
                <section>
                    <header><strong>【前言】</strong></header>
                    <div>
                        <p>iGB非常重视你的隐私。因此我们制定了涵盖如何收集、使用、披露、转让以及存储你的信息的隐私政策。请花些时间熟悉我们针对客户隐私的做法，如有任何疑问，请联系我们。</p>
                    </div>
                </section>
                <section>
                    <header><strong>个人信息的收集和使用</strong></header>
                    <div>
                        <p>个人信息是可用于识别或联系特定个人的数据。</p>
                        <p>任何时候你与iGB或iGB关联公司联系，都可能会要求你提供个人信息。iGB及其关联公司可共享这些个人信息，并按本隐私政策使用这些信息。iGB及其关联公司还可将这些信息与其他信息结 合起来，用于提供和改进我们的产品、服务、内容和广告宣传。你不是一定要提供我们要求的个人信息，但在许多情况下，如果你选择不提供，我们将无法为你提供我们的产品或服务，也无法回 应你遇到的任何问题。</p>
                        <p>下文是iGB可能收集的个人信息类型以及我们如何使用这些信息的一些示例。</p>
                    </div>
                </section>
                <section>
                    <header><strong>我们收集哪些个人信息</strong></header>
                    <div>
                        <p>当你创建iGB ID、购买产品、报名参加iGB零售活动、联系我们或参与在线调查时，我们可能会收集各种信息，包括你的姓名、邮寄地址、电话号码、电子邮件地址、联系方式偏好以及信用卡信息。</p>
                        <p>当你使用iGB产品与家人和朋友分享内容、发送礼券和产品，或邀请他人使用iGB服务时，iGB可能会收集你提供的与上述人士有关的信息，如姓名、邮寄地址、电子邮件地址以及电话号码。 iGB将使用此类信息来满足你的要求，提供相关的产品或服务，或实现反欺诈目的。</p>
                    </div>
                </section>
                <section>
                    <header><strong>我们如何使用你的个人信息</strong></header>
                    <div>
                        <p>利用我们收集的个人信息，我们可以将iGB的最新产品发布及活动预告及时通知你。如果你不希望列入我们的邮寄列表，可随时通过更新偏好设置选择退出。 我们还会将个人信息用于以下目的：帮助我们创建、开发、运作、提供和改进我们的产品、服务、内容和广告宣传，以及防丢失和防欺诈目的。</p>
                        <p>我们可能会使用你的个人信息 (例如出生日期) 来验证身份、协助识别用户，以及确定适当的服务。例如，我们可能会使用出生日期来确定iGB ID 帐户持有人的年龄。 有时，我们可能会使用个人信息发送重要通知，例如关于购买的相关信息以及条款、条件和政策的变更。由于这些信息对你与iGB之间的沟通至关重要，你不能拒绝接收此类信息。 我们还会将个人信息用于审计、数据分析和研究等内部目的，以改进iGB的产品、服务和与客户之间的沟通。</p>
                        <p>如果你参与抽奖、竞赛或类似推广活动，我们会将你提供的信息用于管理此类活动。</p>
                    </div>
                </section>
                <section>
                    <header><strong>非个人信息的收集和使用</strong></header>
                    <div>
                        <p>我们还会收集利用其本身无法与任何特定个人直接建立联系的数据。我们可出于任何目的而收集、使用、转让和披露非个人信息。下文是我们可能收集的非个人信息以及我们如何使用这些信息的一些示例。</p>
                        <p>我们会收集诸如职业、语言、邮编、区号、唯一设备标识符、引荐URL、位置以及用户在使用iGB产品时所处时区等信息，以便我们能更好地了解客户的行为，改进我们的产品、服务和广告宣传。</p>
                        <p>我们会收集与客户在我们的网站上的活动有关的信息，以及从我们其他产品和服务获得的信息。我们会将此类信息汇总，用于帮助我们向客户提供更有用的信息，了解客户对我们网站、产品和服 务中的哪些部分最感兴趣。就本隐私政策而言，汇总数据被视为非个人信息。</p>
                        <p>我们可能会收集和存储有关你如何使用我们的服务的详细信息，包括搜索查询。此类信息可能会用于改进我们的服务提供的结果，使其更具相关性。除了在少数情况下，我们需要确保通过互联网 提供的服务的质量之外，此类信息不会涉及你的IP地址。</p>
                        <p>如果我们将非个人信息与个人信息结合使用，则在结合使用期间，此类信息将被视为个人信息。</p>
                    </div>
                </section>
                <section>
                    <header><strong>Cookie 和其他技术</strong></header>
                    <div>
                        <p>iGB的网站、在线服务、互动应用软件、电子邮件和广告可能会使用 "Cookie" 和其他技术，如像素标签和网站信标。此等技术帮助我们更好地了解用户的行为，告诉我们人们浏览了我们网站的 哪些部分，衡量广告和网络搜索的效果并加以改善。我们将通过 Cookie 和其他技术收集的信息视为非个人信息。但是，如果当地法律将 Internet 协议 (IP) 地址或类似识别标记视为个人信息， 则我们亦将此等识别标记视为个人信息。同样，就本隐私政策而言，在将非个人信息与个人信息结合使用的情况下，我们将结合使用的信息视为个人信息。</p>
                        <p>iGB及其合作伙伴在移动广告服务中使用了 Cookie 和其他技术，以控制你看到某一特定广告的次数，发送你感兴趣的广告，并衡量广告活动的效果。如果你不希望在移动设备上接收这种与你相 关的广告，可通过在设备上访问以下链接选择拒绝www.igbill.com。如果你选择拒绝，你将继续收到同样数量的移动广告，但其相关性可能降低，因为这些广告将不再是依据你的兴趣投放。你仍会看到与网页或应用软件中内容有关的或按照其他非个人信息投放的广告。拒绝只适用于iGB广告服务，不会影响来自其他广告联盟的基于兴趣的广告服务。不过，如果你在移动设备上选择了 "限制广告跟踪"，则按照合同规定，第三方app将不能使用 "广告标识符" (一种非个人式设备标识符) 来向你投放具有针对性的广告。</p>
                        <p>当你使用我们的网站、在线服务和应用软件时，iGB及我们的合作伙伴也会使用Cookie和其他技术来记录个人信息。在此等情形中，我们的目标是让你更便利、更具个性化地体验iGB产品与服务。例如，如果我们知道你的名字，便可以在你下一次访问iGB在线商店时向你致以欢迎。如果我们知道你所在的国家/地区和你使用的语言 (如果你是教育工作者，知道你所在的学校)，将有助于我们提供为你量身打造的、对你更有用的购物体验。如果我们知晓某人使用你的电脑或设备购买了某种产品或使用了某种服务，将有助于我们向你投放更符合你兴趣的广告和电子邮件。如果我们 知道你的联系方式、硬件标识符以及有关你的电脑或设备的信息，我们就能更好地个性化你的操作系统、设置你的服务，并向你提供更好的客户服务。</p>
                        <p>如果你希望禁用 Cookie，并且正在使用网络浏览器，请转到偏好设置，然后进入隐私面板并禁用 Cookie。在你的移动设备上，先点击 "设置"，然后选择 "隐私"，接着进入 Cookie 部分。对于 其他浏览器，请联系你的供应商，了解如何禁用 Cookie。但请注意，禁用 Cookie 后，将无法使用iGB网站的某些功能。</p>
                        <p>如同大多数互联网服务一样，我们也会自动收集某些信息，将其存储在日志文件中。这类信息包括 Internet 协议 (IP) 地址、浏览器类型和语言、互联网服务提供商 (ISP)、引荐/退出网站和应用软 件、操作系统、日期/时间戳和点击流数据。</p>
                        <p>我们使用此等信息来了解和分析趋势、管理网站、了解网站上的用户行为、改进我们的产品和服务，以及收集用户群的整体受众特征信息。iGB可将此类信息用于我们的营销和广告服务。</p>
                        <p>在我们的某些电子邮件中，我们会使用链接到iGB网站上内容的 "点击到达网址"。当客户点击其中的一个点击到达网址时，在到达我们网站上的目标页面之前，将通过一个单独的网络服务器。我 们跟踪此点击到达数据来帮助我们确定客户对特定主题的兴趣，并衡量我们与客户之间沟通的效果。如果你不喜欢这种跟踪方式，请勿点击电子邮件中的文本或图片链接。</p>
                        <p>像素标签使我们可以用客户可阅读的格式发送电子邮件，并告知我们邮件是否被打开。我们可利用这些信息来减少或免除向客户发送的电子邮件。</p>
                    </div>
                </section>
                <section>
                    <header><strong>向第三方披露</strong></header>
                    <div>
                        <p>有时候iGB会向与iGB合作提供产品和服务或者帮助iGB向顾客进行营销的战略合作伙伴提供某些个人信息。iGB只会出于提供或改进我们的产品、服务和广告宣传之目的而与第三方共享个人信 息；而不会出于第三方的营销目的与第三方共享个人信息。</p>
                    </div>
                </section>
                <section>
                    <header><strong>服务提供商</strong></header>
                    <div>
                        <p>iGB会与提供信息处理、提供信贷、履行客户订单、向你交付产品、管理和增强客户数据、提供客户服务、评估你对我们产品和服务的兴趣以及开展客户调查或满意度调查等服务的公司分享个人 信息。这些公司有义务保护你的信息，并可能位于iGB从事经营活动所在的任何地点。</p>
                    </div>
                </section>
                <section>
                    <header><strong>其他</strong></header>
                    <div>
                        <p>根据你居住国境内外的法律、法律程序、诉讼和/或公共机构和政府部门的要求，iGB可能有必要披露你的个人信息。如果我们确定就国家安全、执法或具有公众重要性的其他事宜而言，披露是必 须的或适当的，我们也可能会披露关于你的信息。</p>
                        <p>如果我们确定为了执行我们的条款和条件或保护我们的经营或用户，披露是合理必要的，我们也可能会披露关于你的信息。此外，如果发生重组、合并或出售，则我们可将我们收集的一切个人信 息转让给相关第三方。</p>
                    </div>
                </section>
                <section>
                    <header><strong>个人信息的保护</strong></header>
                    <div>
                        <p>iGB非常重视你的个人信息的安全。iGB在线服务会使用传输层安全协议 (TLS) 等加密技术，在传输过程中保护你的个人信息。在iGB存储你的个人数据时，我们会使用具有有限访问权限的电脑系统，这些系统部署在通过物理安全措施加以保护的设施之中。iCloud数据以加密形式存储，在我们使用第三方存储时也是如此。</p>
                        <p>当你使用某些iGB产品、服务或应用软件或者在iGB论坛、聊天室或社交网络服务上发帖时，你分享的个人信息和内容会被其他用户看到，他们可能会阅读、收集或使用你的个人信息。对于你决 定在上述情形中分享或提交的个人信息，你应自行负责。例如，如果你在论坛发帖公布你的姓名和电子邮件地址，这些信息便是公开的。在使用此类功能时请多加小心。</p>
                        <p>如果你或其他任何使用家庭共享计划的人登录到第三方所有的设备，则在你的 "家庭" 分组中共享的任何信息 (包括日历、地点、照片和 iTunes 购买项目) 可能会被下载到该第三方设备上，进而导致任何此类共享信息的泄露。</p>
                    </div>
                </section>
                <section>
                    <header><strong>个人信息的完整性和保留</strong></header>
                    <div>
                        <p>iGB提供了一些便捷的方法，让你能够确保你的个人信息准确、完整并及时更新。我们将在实现本隐私政策中所述目的所必需的期间内保留你的个人信息，除非法律要求或允许在更长的期间内保留这些信息。</p>
                    </div>
                </section>
                <section>
                    <header><strong>访问个人信息</strong></header>
                    <div>
                        <p>你可以访问 www.igbill.com登录你的帐户，帮助我们确保你的联系方式和偏好设置准确、完整并及时更新。对于我们保留的其他个人信息，我们将为你提供适用于任何目的的访问权限，包括要求我们在 数据不准确时予以纠正，或在依据法律或出于合法商业目iGB无权保留此等数据时予以删除。我们有权拒绝处理无实质意义/纠缠式的请求、损害他人隐私权的请求、极端不现实的请求，以及根 据当地法律无需给予信息访问权的请求。访问、纠正或删除信息的请求可通过区域隐私联系表提交。</p>
                    </div>
                </section>
                <section>
                    <header><strong>儿童</strong></header>
                    <div>
                        <p>对于使用iGB产品和服务的儿童，我们理解采取额外预防措施保护其隐私和安全的重要性。因此，除非收到可核实的家长同意书，我们不会有意收集、使用或披露不满 13 周岁 (或相关司法辖区规 定的类似最低年龄) 儿童的个人信息。如果我们发现我们收集了年龄不满 13 周岁 (或相关司法辖区规定的类似最低年龄) 儿童的个人信息而事先未收到可核实的家长同意书，我们将采取措施尽快删除此等信息。</p>
                    </div>
                </section>
                <section>
                    <header><strong>位置服务</strong></header>
                    <div style="display:none;">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </section>
                <section>
                    <header><strong>第三方网站和服务</strong></header>
                    <div>
                        <p>iGB的网站、产品、应用软件和服务中可能含有第三方网站、产品和服务的链接。我们的产品和服务也可能使用或提供来自第三方的产品或服务 — 例如，第三方Steampowered。第三方收集的、其中可能含有Steam ID数据或联系方式等的信息，须遵守第三方关于隐私权的规定。我们希望你能了解这些第三方的隐私权规定。</p>
                    </div>
                </section>
                <section>
                    <header><strong>国际用户</strong></header>
                    <div>
                        <p>如本隐私政策中所述，你提供的所有信息可能会被我们分散在世界各地的实体传输或访问。对于欧洲经济区和瑞士境内组织对个人信息的收集、使用和保留，iGB遵守美国商务部制订的 "安全港" 框架。请详细了解美国商务部安全港计划。</p>
                        <p>iGB严格遵守亚太经济合作组织 (APEC) 跨境隐私规则体系。APEC CBPR 体系为各个组织提供了整体框架，旨在保护 APEC 成员经济体之间的个人信息传输隐私。</p>
                    </div>
                </section>
                <section>
                    <header><strong>全公司对你隐私的承诺</strong></header>
                    <div>
                        <p>为确保你个人信息的安全，我们向全体iGB员工传达了公司的隐私和安全准则，并在公司内部严格执行隐私保护措施。</p>
                    </div>
                </section>
                <section>
                    <header><strong>隐私问题</strong></header>
                    <div>
                        <p>如果你对iGB的隐私政策或数据处理有任何问题或疑问，或者想就可能违反当地隐私权法律的情况进行投诉，请联系我们。你可以随时拨打所在国家/地区的相关 iGB支持电话号码，与我们联系。 所有此类通信内容都要经过调查，在适当的情况下，我们会尽快予以答复。如对收到的答复不满意，你可以将投诉转给所在司法辖区的相关监管机构。如果你向我们提出要求，我们会努力为你提 供与可能适用于你的情况的相关投诉途径有关的信息。</p>
                        <p>iGB可随时对其隐私政策加以更新。如果我们对隐私政策作出重大变更，我们将在公司网站上发布通告和经更新的隐私政策。</p>
                    </div>
                </section>
            </div>
        </div>
    </main>
{% endblock %}

