{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/skin-details.css">
{% endblock %}

{% block scripts %}
    <script src="./js/skin-details.js"></script>
{% endblock %}

{% block content %}
    <main class="skin-details">
        <div class="container-wrap">
            <div class="row skin-caption">
                <div class="col s12 align-left">
                    <img class="icon" src="./assets/images/icon-history.png"
                        srcset="./assets/images/icon-history.png 1x, ./assets/images/icon-history@2x.png 2x, ./assets/images/icon-history@3x.png 3x">
                    饰品充值历史
                </div>
            </div>
            <div class="list-wrap">
                <header>
                    <div class="row">
                        <div class="col s12 m9">
                            <div class="row">
                                <div class="col s1 m1 hide-on-small-only">
                                    时间：
                                </div>
                                <div class="col s7 m5">
                                    <div class="row">
                                        <!-- <div class="col s1"></div> -->
                                        <div class="col s5">
                                            <div class="date-from-wrap">
                                                <img class="icon" src="./assets/images/icon-date.png"
                                                    srcset="./assets/images/icon-date.png 1x, ./assets/images/icon-date@2x.png 2x, ./assets/images/icon-date@3x.png 3x">
                                                <input type="text" class="date-from" readonly>
                                            </div>
                                        </div>
                                        <div class="col s2 s-ta-c"> - </div>
                                        <div class="col s5">
                                            <div class="date-to-wrap">
                                                <img class="icon" src="./assets/images/icon-date.png"
                                                    srcset="./assets/images/icon-date.png 1x, ./assets/images/icon-date@2x.png 2x, ./assets/images/icon-date@3x.png 3x">
                                                <input type="text" class="date-to" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s1 m1 s-ta-c">
                                    <span class="hide-on-small-only">状态：</span>
                                </div>
                                <div class="col s4 m3">
                                    <select name="" id="">
                                        <option value="0">全部</option>
                                        <option value="1">存入中</option>
                                        <option value="2">存入成功</option>
                                        <option value="3">存入失败</option>
                                        <option value="4">存入关闭</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m3 s-ta-r">
                            <button class="btn">
                                <span>查询</span>
                                <img class="icon" src="./assets/images/button-s-arrow.png"
                                    srcset="./assets/images/button-s-arrow.png 1x, ./assets/images/button-s-arrow@2x.png 2x, ./assets/images/button-s-arrow@3x.png 3x">
                            </button>
                        </div>
                    </div>
                </header>
                <div class="list-head hide-on-small-only">
                    <div class="row">
                        <div class="col s3">
                            时间
                        </div>
                        <div class="col s3 s-ta-c">
                            饰品
                        </div>
                        <div class="col s3 s-ta-c">
                            状态
                        </div>
                        <div class="col s3 s-ta-r">
                            备注
                        </div>
                    </div>
                </div>
                <div class="list-data">
                    <div class="row">
                        <div class="col s4 m3">
                            2017-02-12 20:02
                        </div>
                        <div class="col s5 m3 s-ta-c">
                            封装的涂鸦 | 王 (黄褐)
                        </div>
                        <div class="col s3 m3 s-ta-r m-ta-c">
                            <span class="success">存入成功</span>
                        </div>
                        <div class="col m3 s-ta-l m-ta-r hide-on-small-only">
                            +33元余额
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m3">
                            2017-02-12 20:02
                        </div>
                        <div class="col s5 m3 s-ta-c">
                            封装的涂鸦 | 王 (黄褐)
                        </div>
                        <div class="col s3 m3 s-ta-r m-ta-c">
                            <span class="waiting">存入中</span>
                        </div>
                        <div class="col m3 s-ta-l m-ta-r hide-on-small-only">
                            +33元余额
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m3">
                            2017-02-12 20:02
                        </div>
                        <div class="col s5 m3 s-ta-c">
                            封装的涂鸦 | 王 (黄褐)
                        </div>
                        <div class="col s3 m3 s-ta-r m-ta-c">
                            <span class="fail">存入失败</span>
                        </div>
                        <div class="col m3 s-ta-l m-ta-r hide-on-small-only">
                            +33元余额
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m3">
                            2017-02-12 20:02
                        </div>
                        <div class="col s5 m3 s-ta-c">
                            封装的涂鸦 | 王 (黄褐)
                        </div>
                        <div class="col s3 m3 s-ta-r m-ta-c">
                            <span class="waiting">存入中</span>
                        </div>
                        <div class="col m3 s-ta-l m-ta-r hide-on-small-only">
                            +33元余额
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m3">
                            2017-02-12 20:02
                        </div>
                        <div class="col s5 m3 s-ta-c">
                            封装的涂鸦 | 王 (黄褐)
                        </div>
                        <div class="col s3 m3 s-ta-r m-ta-c">
                            <span class="close">存入关闭</span>
                        </div>
                        <div class="col m3 s-ta-l m-ta-r hide-on-small-only">
                            +33元余额
                        </div>
                    </div>
                    <div class="row s-ta-c hide-on-med-and-up">
                        <span>加载更多</span>
                    </div>
                </div>
            </div>
            <div class="list-tip">
                <div class="row">
                    <div class="col s12">
                        <p>状态“存入中”：系统正在为您处理存入请求，请耐心等候。由于与steam的交互可能出现异常，您的充值结果可能会出现延迟，请谅解。</p>
                        <p>状态“交易暂挂”：该笔交易已经被steam暂挂，您可以到steam取消交易，也可等待暂挂结束，系统给您入账。</p>
                    </div>
                </div>
            </div>
            <div class="list-paging hide-on-small-only">
                <div class="row">
                    <div class="col s12 s-ta-r">
                        <a href="javascript:" class="prev">&nbsp;</a>
                        <a href="javascript:">1</a>
                        <a href="javascript:">2</a>
                        <a href="javascript:">3</a>
                        <span>…</span>
                        <a href="javascript:">99</a>
                        <a href="javascript:" class="next">&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

