{% extends './common/base.html' %}

{% block css %}
    <link rel="stylesheet" href="./css/terms-of-use.css">
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            window.termsDialog.open();
        });
    </script>
{% endblock %}

{% block content %}
    <main class="terms-of-use">
        <div class="container-wrap">
            <div class="row skin-caption">
                <div class="col s12 align-left">
                    <img class="icon" src="./assets/images/icon-gps.png"
                        srcset="./assets/images/icon-gps.png 1x, ./assets/images/icon-gps@2x.png 2x, ./assets/images/icon-gps@3x.png 3x">
                    使用条款
                </div>
            </div>
            <div class="terms-of-use-wrap">
                <section>
                    <header><strong>【前言】</strong></header>
                    <div>
                        <p>欢迎您使用iGB网站的服务！</p>
                        <p>iGB网站指包括但不限于 <a href="www.igbill.com">www.igbill.com</a> 及其他遍及全球的iGB相关网站及网站相关服务。iGB网站的所有权、著作权等完整相关权利归属于iGB。</p>
                        <p>为使用iGB的服务，您应当阅读并遵守《iGB网络服务协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款。</p>
                        <p>除非您已阅读并接受本协议所有条款，否则您无权使用包括iGB网站在内的iGB提供的服务。您使用iGB的服务即视为您已阅读且清楚理解并同意本协议的约束，否则请勿使用iGB网站及相关服务。</p>
                        <p>如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。</p>
                    </div>
                </section>
                <section>
                    <header><strong>一、【协议的范围】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="1">本协议是您与iGB之间关于用户使用iGB相关服务所订立的协议。iGB服务平台的相关服务可能存在的运营关联单位，在本协议中“iGB”亦可被表述为“iGB”、“iGB网站”等。“用户”是指使用iGB相关服务的使用人，在本协议中更多地称为“您”。</li>
                            <li data-counter-start="1">本协议项下的具体服务内容是指iGB根据实际情况，向用户提供的包括但不限于虚拟物品交易产品及服务（以下简称“本服务”）。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>二、【帐号与密码安全】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="2">您在使用iGB的服务时可能需要设置网站二级密码。iGB特别提醒您应妥善保管您的帐号和密码。因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。如您使用第三方账号（如Steam平台账号等）登录iGB服务，相关账号安全及保障应由您及第三方进行维护。</li>
                            <li data-counter-start="2">您不应将自己在iGB网站处使用的帐号、密码转让或出借予他人使用。如您发现自己在iGB网站处使用的帐号遭他人非法使用，应立即通知iGB，并有权通知iGB采取措施暂停该账号的登录和使用。同时，您也应向iGB提供与被停用账号注册信息相一致的个人有效身份信息。iGB核实您所提供的个人有效身份信息与所注册的身份信息相一致的，应当及时采取措施暂停该账号的登录和使用。若您没有提供个人有效身份证件或者用户提供的个人有效身份信息与所注册的身份信息不一致的，iGB有权拒绝用户上述请求。此外，因黑客行为或您的保管疏忽导致您在iGB网站处的帐号、密码遭他人非法使用，iGB不承担任何责任。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>三、【用户个人信息保护】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="3">保护您的个人信息是iGB的一项基本原则。</li>
                            <li data-counter-start="3">您在注册帐号或使用本服务的过程中，可能需要填写一些必要的信息。若国家法律法规有特殊规定的，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用本服务或在使用过程中受到限制。</li>
                            <li data-counter-start="3">一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。</li>
                            <li data-counter-start="3">iGB将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</li>
                            <li data-counter-start="3">未经您的同意，iGB不会向iGB以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定的除外。</li>
                            <li data-counter-start="3">iGB非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用iGB的服务前，应事先取得您家长或法定监护人（以下简称"监护人"）的同意。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>四、【使用本服务的方式】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="4">您承诺以真实身份注册成为iGB的用户，并保证所提供的个人身份资料信息真实、完整、有效，依据法律规定和必备条款约定对所提供的信息承担相应的法律责任。您以真实身份注册成为iGB用户后，需要修改所提供的个人身份资料信息的，iGB应当及时、有效地为您提供该项服务。</li>
                            <li data-counter-start="4">iGB有权审查您注册时所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障您账号的安全、有效；您有义务妥善保管您的账号及密码，并正确、安全地使用您的账号及密码。任何一方未尽上述义务导致账号密码遗失、账号被盗等情形而给您和他人的民事权利造成损害的，应当承担由此产生的法律责任。</li>
                            <li data-counter-start="4">您对登录后所持账号产生的行为依法享有权利和承担责任</li>
                            <li data-counter-start="4">除非您与iGB另有约定，您同意本服务仅为您个人使用。</li>
                            <li data-counter-start="4">您应当通过iGB提供或认可的方式使用本服务。您依本协议条款所取得的权利不可转让。</li>
                            <li data-counter-start="4">您不得使用未经iGB授权的插件、外挂或第三方工具对本协议项下的服务进行干扰、破坏、修改或施加其他影响。</li>
                            <li data-counter-start="4">您通过服务对程序的使用受制于某些已经包含在规则中的行为准则。这些规则将在iGB官方网站公开并不定期更新，所有通过服务使用程序的用户必须遵守。您有义务知晓、了解并遵守这些行为规则。iGB保留权利决定何种行为违反游戏精神，并对该等行为采取其认为合适的相应的处理措施（包括但不限于警告、暂时或永久冻结账号、拒绝提供服务等）。iGB保留随时修改这些行为规则的权利。</li>
                            <li data-counter-start="4">您不可试图通过非法侵入、“破解”密码或任何其他非法方式，未经授权访问iGB网站的任何部分或功能，或者链接至iGB网站或任何iGB服务器的任何其他系统或网络，或者未经授权取得iGB网站提供的任何服务。</li>
                            <li data-counter-start="4">您不可探查、扫描或测试iGB网站或链接至iGB网站之任何网络的弱点，亦不可违反iGB网站或链接至iGB网站之任何网络的安全或认证措施。您不可反向查找、追踪或寻求追踪任何关于iGB网站任何其他用户或访问者或iGB其他客户的信息，包括任何非您所有的iGB账户的来源；或为显示您个人所有信息以外的任何信息之目的，包括但不限于iGB网站提供的身份证明或信息，使用iGB网站或iGB网站提供的任何服务或信息。</li>
                            <li data-counter-start="4">您同意不使用任何设备、软件或程序，干扰或试图干扰iGB网站的正常运行或于iGB网站进行的任何交易，或干扰或试图干扰他人使用iGB网站。</li>
                            <li data-counter-start="4">您不可伪造信头或以其他方式操控识别功能，以伪造您通过iGB网站提交给iGB的任何信息或传输内容的来源，或者伪造iGB网站提供的任何服务的来源。您不可假冒他人、或假冒代表他人，或模仿任何其他个人或实体。</li>
                            <li data-counter-start="4">您不可为任何非法或本使用条款禁止之目的使用iGB网站或任何内容，或者为教唆实施任何非法行为或侵犯iGB或他人权利的其他行为使用iGB网站或任何内容。</li>
                            <li data-counter-start="4">您不可以冒用iGB名号（冒充iGB机器人）或采用其他易误导他人认为您是iGB官方成员的方式试图欺诈或成功欺诈iGB其他用户的财产，否则iGB有权永久冻结您在iGB网站的所有物品和财产，冻结期间无法登录、无法交易、无法提现。如受骗方能提供视频、截图等证据证明被骗物品所有权归其所有，iGB有权根据用户申请退还被骗物品或钱款。</li>
                            <li data-counter-start="4">鉴于网络虚拟交易的特殊性，iGB无法鉴别和判断相关交易各主体之民事权利和行为能力、资质、信用等状况，也无法鉴别和判断虚拟交易或正在交易或已交易之虚拟物品来源、权属、真伪、性能、规格、质量、数量等权利属性、自然属性及其他各种状况。因此，交易各方在交易前应加以仔细辨明，并慎重考虑和评估交易可能产生的各项风险。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>五、【按现状提供服务】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="5">您理解并同意，iGB的服务是按照现有技术和条件所能达到的现状提供的。iGB会尽最大努力向您提供服务，确保服务的连贯性和安全性；但iGB不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。</li>
                            <li data-counter-start="5">由于网络环境特殊性及网络第三方不确定安全因素，iGB不承诺iGB网站或iGB网站的任何内容、服务或功能无任何错误或不中断，不承诺任何瑕疵将被纠正，或者您对iGB网站的使用将产生特定结果。iGB网站及其内容是基于“现状”且“可获得”而提供。iGB网站提供的所有信息可不经通知而变更。iGB不能确保您从iGB网站下载的任何资料或其他数据无病毒、无污染或不具破坏性。iGB不作任何明示或默示保证，包括任何正确性、非侵权、适销性及适用性的保证。对于任何及所有与您对iGB网站和/或任何iGB服务的使用有关的任何第三方的作为、不作为和行为，iGB概不承担责任。您对iGB网站及任何链接网站的使用，由您承担全部责任。如果对iGB网站或任何内容有任何不满意，您唯一的救济方式是停止使用iGB网站或任何该等内容。救济限制是双方协议的一部分。</li>
                            <li data-counter-start="5">上述免责声明适用于因任何不履行、错误、疏忽、中断、删除、缺陷、操作或传输迟延、电脑病毒、通信线路故障、失窃或破坏或未经授权访问、篡改或使用(无论是违约、侵权、过失或任何其他诉因)而造成的任何损害、责任或伤害。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>六、【自备设备】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="6">您应当理解，您使用iGB的服务需自行准备与相关服务有关的终端设备（如电脑、调制解调器等装置），并承担所需的费用（如电话费、上网费等费用）。</li>
                            <li data-counter-start="6">您理解并同意，您使用本服务时会耗用您的终端设备和带宽等资源。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>七、【广告】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="7">您理解并同意，iGB可以在提供服务的过程中自行或由第三方广告商向您发送广告、推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。</li>
                            <li data-counter-start="7">iGB依照法律的规定对广告商履行相关义务，您应当自行判断广告信息的真实性并为自己的判断行为负责，除法律明确规定外，您因依该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，iGB不承担责任。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>八、【交易及付费服务】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="8">iGB是提供用户之间相互交易的服务平台，您在iGB上进行交易，除遵守本协议约定外，还应遵守第三方的用户协议等其他交易双方的约定。</li>
                            <li data-counter-start="8">为保证服务质量和正常运营，iGB的部分服务会以收费方式提供，如您使用相关收费服务，视为您知晓并同意相关收费服务内容和标准。</li>
                            <li data-counter-start="8">iGB可能根据实际需要对收费服务的收费标准、方式进行修改和变更，iGB也可能会对部分免费服务开始收费。前述修改、变更或开始收费前，iGB将在相应服务页面进行通知或公告。如果您不同意上述修改、变更或付费内容，则应停止使用该服务。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>九、【本服务中的软件】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="9">您在使用本服务的过程中可能需要下载软件，对于这些软件，iGB给予您一项个人的、不可转让及非排它性的许可。您仅可为访问或使用本服务的目的而使用这些软件。</li>
                            <li data-counter-start="9">为了改善用户体验、保证服务的安全性及产品功能的一致性，iGB可能会对软件进行更新。您应该将相关软件更新到最新版本，否则iGB并不保证其能正常使用。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十、【知识产权声明】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="10">
                                <p>iGB在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归iGB所有，您在使用本服务中所产生的内容的知识产权归您或相关权利人所有。</p>
                                <p>除另有特别声明外，iGB提供本服务时所依托软件的著作权、专利权及其他知识产权均归iGB所有。</p>
                                <p>iGB在本服务中所使用的“iGB”、“iGB”及相关LOGO、形象等商业标识，其著作权或商标权归iGB所有。</p>
                                <p>上述及其他任何本服务包含的内容的知识产权均受到法律保护，未经iGB或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</p>    
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十一、【用户违法行为】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="11">
                                <p>您在使用本服务时须遵守法律法规，不得利用本服务从事违法违规行为，包括但不限于：</p>
                                <ul>
                                    <li>发布、传送、传播、储存危害国家安全统一、破坏社会稳定、违反公序良俗、侮辱、诽谤、淫秽、暴力以及任何违反国家法律法规的内容；</li>
                                    <li>发布、传送、传播、储存侵害他人知识产权、商业秘密等合法权利的内容；</li>
                                    <li>恶意虚构事实、隐瞒真相以误导、欺骗他人；</li>
                                    <li>发布、传送、传播广告信息及垃圾信息；</li>
                                    <li>其他法律法规禁止的行为。</li>
                                </ul>
                                <p>如果您违反了本条约定，相关国家机关或机构可能会对您提起诉讼、罚款或采取其他制裁措施，并要求iGB给予协助。造成损害的，您应依法予以赔偿，iGB不承担任何责任。</p>
                                <p>如果iGB发现或收到他人举报您发布的信息违反本条约定，iGB有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，iGB有权视您的行为性质，采取包括但不限于暂停或终止服务，限制、冻结，追究法律责任等措施。</p>
                                <p>您违反本条约定，导致任何第三方损害的，您应当独立承担责任；iGB因此遭受损失的，您也应当一并赔偿。</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十二、【遵守当地法律监管】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="12">您在使用本服务过程中应当遵守当地相关的法律法规，并尊重当地的道德和风俗习惯。如果您的行为违反了当地法律法规或道德风俗，您应当为此独立承担责任。</li>
                            <li data-counter-start="12">您应避免因使用本服务而使iGB卷入政治和公共事件，否则iGB有权暂停或终止对您的服务。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十三、【用户发送、传播的内容与第三方投诉处理】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="12">您通过本服务发送或传播的内容（包括但不限于网页、文字、图片、音频、视频、图表等）均由您自行承担责任。</li>
                            <li data-counter-start="12">您发送或传播的内容应有合法来源，相关内容为您所有或您已获得权利人的授权。</li>
                            <li data-counter-start="12">您同意iGB可为履行本协议或提供本服务的目的而使用您发送或传播的内容。</li>
                            <li data-counter-start="12">如果iGB收到权利人通知，主张您发送或传播的内容侵犯其相关权利的，您同意iGB有权进行独立判断并采取删除、屏蔽或断开链接等措施。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十四、【不可抗力及其他免责事由】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="14">
                                <p>您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务发生中断。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等以及社会事件如战争、动乱、政府行为等。出现上述情况时，iGB将努力在第一时间与相关单位配合，及时进行修复，但是由此给您造成的损失iGB在法律允许的范围内免责。</p>
                                <p>在法律允许的范围内，iGB对以下情形导致的服务中断或受阻不承担责任：</p>
                                <ul>
                                    <li>受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</li>
                                    <li>您或iGB的电脑软件、系统、硬件和通信线路出现故障；</li>
                                    <li>您操作不当；</li>
                                    <li>您通过非iGB授权的方式使用本服务；</li>
                                </ul>
                            </li>
                            <li data-counter-start="14">
                                <p>您理解并同意，在使用本服务的过程中，可能会遇到网络信息或其他用户行为带来的风险，iGB不对任何信息的真实性、适用性、合法性承担责任，也不对因侵权行为给您造成的损害负责。这些风险包括但不限于：</p>
                                <ul>
                                    <li>来自他人匿名或冒名的含有威胁、诽谤、令人反感或非法内容的信息；</li>
                                    <li>因使用本协议项下的服务，遭受他人误导、欺骗或其他导致或可能导致的任何心理、生理上的伤害以及经济上的损失；</li>
                                    <li>其他因网络信息或用户行为引起的风险。</li>
                                </ul>
                            </li>
                            <li data-counter-start="14">您理解并同意，本服务并非为某些特定目的而设计，包括但不限于核设施、军事用途、医疗设施、交通通讯等重要领域。如果因为软件或服务的原因导致上述操作失败而带来的人员伤亡、财产损失和环境破坏等，iGB不承担法律责任。</li>
                            <li data-counter-start="14">您理解并同意，iGB交易平台提供的服务有赖于steam等第三方平台支持。如因Steam等第三方平政策变动或服务变更，导致iGB平台服务停滞、变化或用户数据、财产损失等情况，iGB不承担相应责任。</li>
                            <li data-counter-start="14">iGB依据本协议约定获得处理违法违规内容的权利，该权利不构成iGB的义务或承诺，iGB不能保证及时发现违法行为或进行相应处理。</li>
                            <li data-counter-start="14">在任何情况下，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意iGB有关防范诈骗犯罪的提示。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十五、【协议的生效与变更】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="15">
                                <p>您使用iGB的服务即视为您已阅读本协议并接受本协议的约束。</p>
                                <p>iGB有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</p>
                            </li>
                            <li data-counter-start="15">本协议条款变更后，如果您继续使用iGB提供的软件或服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用iGB提供的软件或服务。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十六、【服务的变更、中断或终止】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="16">鉴于网络服务的特殊性，您同意iGB有权随时变更、中断或终止部分或全部的网络服务。</li>
                            <li data-counter-start="16">您理解并同意，iGB需要定期或不定期地对提供网络服务的平台（如互联网网站、移动网络等）或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，iGB无需为此承担任何责任，但iGB将尽可能事先进行通告。</li>
                            <li data-counter-start="16">iGB服务的各个新版本，iGB可以自行决定是否保留为iGB服务增加附加特点和功能，或者提供程序编程之修补、更新和升级的权利。iGB无需向您发出通知即可自行决定修改、停止或暂停您对任何版本iGB服务的使用，和/或禁用您已经使用或安装的iGB服务，以便对相关技术进行检修、改良和/或升级，或者出于其他合理原因；对于由发行和/或不发行iGB服务的新版本而导致的直接或间接损害，将不承担任何赔偿责任。</li>
                            <li data-counter-start="16">
                                <p>如发生下列任何一种情形，iGB有权不经通知而中断或终止向您提供的服务：</p>
                                <ul>
                                    <li>根据法律规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</li>
                                    <li>您违反相关法律法规或本协议的约定；</li>
                                    <li>按照法律规定或主管部门的要求；</li>
                                    <li>出于安全的原因或其他必要的情形。</li>
                                </ul>
                                <p>您有责任自行备份存储在本服务中的数据。如果您的服务被终止，iGB可以从服务器上永久地删除您的数据。服务终止后，iGB没有义务向您返还数据。</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十七、【管辖与法律适用】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="17">本协议签订地为中华人民共和国重庆市渝中区。</li>
                            <li data-counter-start="17">本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</li>
                            <li data-counter-start="17">若您和iGB之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交重庆仲裁委员会根据现行有效的仲裁规则进行仲裁。</li>
                            <li data-counter-start="17">本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</li>
                            <li data-counter-start="17">本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十八、【未成年人使用条款】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="18">若用户未满18周岁，则为未成年人，应在监护人监护、指导下阅读本协议和使用本服务。</li>
                            <li data-counter-start="18">
                                <p>未成年人用户涉世未深，容易被网络虚象迷惑，且好奇心强，遇事缺乏随机应变的处理能力，很容易被别有用心的人利用而又缺乏自我保护能力。因此，未成年人用户在使用本服务时应注意以下事项，提高安全意识，加强自我保护：</p>
                                <ul>
                                    <li>认清网络世界与现实世界的区别，避免沉迷于网络，影响日常的学习生活；</li>
                                    <li>填写个人资料时，加强个人保护意识，以免不良分子对个人生活造成骚扰；</li>
                                    <li>在监护人或老师的指导下，学习正确使用网络；</li>
                                    <li>避免陌生网友随意会面或参与联谊活动，以免不法分子有机可乘，危及自身安全。</li>
                                    <li>监护人、学校均应对未成年人使用本服务时多做引导。特别是家长应关心子女的成长，注意与子女的沟通，指导子女上网应该注意的安全问题，防患于未然。</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <header><strong>十九、【其他】</strong></header>
                    <div>
                        <ul>
                            <li data-counter-start="19">如果您对本协议或本服务有意见或建议，可与iGB客户服务部门联系（cs@igbill.com），我们会给予您必要的帮助。</li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>
    
    {% include './common/terms-dialog.html' %}
{% endblock %}

