@import './common/third-party/materialize/components/_color';
@import './common/third-party/materialize/components/_variables';
@import './common/variables';
@import './common/mixins';

.main-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.pay-results {
    position: fixed;
    left: 0;
    right: 0;
    color: #36373e;
    font-size: 16px;

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media #{$small-and-down} {
        top: 1.0938rem;
        bottom: 1.765625rem;

        div {
            text-align: center;
            font-size: 14px;
            transform: translate(-50%, -70%);

            img {
                transform: translateX(-10px);
            }

            p {
                white-space: nowrap;
                // margin-top: 20px;
                text-align: center;
                line-height: 2.5;

                span {
                    display: none;
                }

                strong {
                    font-size: 26px;
                    font-weight: bold;
                }
            }
        }
    }

    @media #{$medium-and-up} {
        top: 70px;
        bottom: 113px;
        
        div {

            img {
                float: left;
                margin-right: 20px;
            }

            p {
                overflow: hidden;
                white-space: nowrap;
                margin-top: 40px;

                strong {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}